#block-madewithlovebyqed42 {
    margin: 0px;
    background: #fbfcff;
    text-align: right;
}

#block-madewithlovebyqed42 {
    p {
        margin-right: 135px;
    }
}

#footer_info {
    background: black;
    display: flex;
    justify-content: space-between;
    padding: 0px 150px 0px 10px;
}

#footer-logo {
    img {
        padding-left: 180px;
    }
    p {
        color: white;
        display: initial;
    }
}

#footer-content {
    p {
        color: white;
    }
    img {
        margin-right: -20px;
        margin-left: 30px;
    }
}
