.header li {
    display: inline;
    text-transform: uppercase;
}

.header li a {
    color: black;
    margin-left: 80px;
    text-decoration: none;
}

.header li a.is-active{
    border-bottom: 3px solid red;
    border-width: 3px;
    width: 40%;
}

