.header li {
  display: inline;
  text-transform: uppercase;
}

.header li a {
  color: black;
  margin-left: 80px;
  text-decoration: none;
}

.header li a.is-active {
  border-bottom: 3px solid red;
  border-width: 3px;
  width: 40%;
}

#ticket {
  display: flex;
  justify-content: space-around;
}
#ticket a {
  display: inline-block;
  height: 5px;
  line-height: 6px;
  width: 140px;
  background-color: #ec0342;
  color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}
@media screen {
  #ticket {
    flex-direction: column;
    text-align: center;
  }
}

#wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f7f9fb;
}
@media screen {
  #wrapper {
    flex-direction: column-reverse;
  }
}

#keynote-speaker {
  font-size: 15px;
  line-height: 20px;
  color: grey;
  width: 55%;
}
@media screen {
  #keynote-speaker {
    width: 100%;
  }
}

#keynote-content {
  width: 50%;
  padding-left: 200px;
  padding-top: 80px;
}
@media screen {
  #keynote-content {
    padding-left: 100px;
  }
}

#keynote-content h1 {
  font-size: 22px;
  color: #0074bd;
  text-transform: uppercase;
  font-weight: bold;
}

#keynote-info {
  width: 50%;
  padding-left: 200px;
  padding-top: 80px;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen {
  #keynote-info {
    padding-left: 100px;
  }
}

#keynote-image {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f7f9fb;
  width: 50%;
}
@media screen {
  #keynote-image {
    width: 100%;
  }
  #keynote-image img {
    width: 100%;
  }
}

#event h1 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: #0074bd;
  padding-top: 50px;
}
#event #event-wrap {
  display: flex;
  justify-content: space-around;
  padding: 80px;
}
#event #event-wrap #wrap-content1,
#event #event-wrap #wrap-content2,
#event #event-wrap #wrap-content3 {
  width: 30%;
}
@media screen {
  #event #event-wrap #wrap-content1,
  #event #event-wrap #wrap-content2,
  #event #event-wrap #wrap-content3 {
    width: 100%;
    height: auto;
  }
}
#event #event-wrap h2 {
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 20px;
  color: #0074bd;
}
#event #event-wrap p {
  padding-top: 20px;
  padding-right: 15px;
  color: grey;
}
#event #event-wrap img {
  height: 250px;
  width: 100%;
  padding-right: 50px;
}
@media screen {
  #event #event-wrap {
    flex-direction: column;
  }
}

#block-views-block-our-sponsors-block-1 {
  width: 80%;
  margin: 0 auto;
}
#block-views-block-our-sponsors-block-1 h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: #0074bd;
}
#block-views-block-our-sponsors-block-1 .view-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#block-views-block-our-sponsors-block-1 .views-row {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#block {
  padding-bottom: 50px;
}
#block h2 {
  text-align: center;
  font-size: 20px;
  color: grey;
  padding-top: 25px;
  padding-bottom: 25px;
}
#block #block-button {
  text-align: center;
}
#block #block-button a {
  display: inline-block;
  height: 5px;
  line-height: 6px;
  width: 140px;
  background-color: #ec0342;
  color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
}

#block-helpusmakethisanawesomeexperience {
  text-align: center;
}

.header li {
  margin: 10px;
}

#venue-block {
  margin: 0 auto;
  background: #fbfcff;
  padding-bottom: 50px;
}
#venue-block h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: #0074bd;
  padding-left: 50px;
  padding-top: 10px;
  padding-bottom: 80px;
}
@media screen {
  #venue-block h2 {
    font-size: 24px;
    padding-bottom: 10px;
    padding-top: 30px;
  }
}
@media (min-width: 768px) {
  #venue-block h2 {
    font-size: 20px;
    padding-bottom: 10px;
    padding-top: 30px;
  }
}
#venue-block #venue-info {
  display: flex;
  justify-content: center;
}
#venue-block #venue-info #venue-image {
  padding-left: 250px;
  margin-top: -80px;
}
@media (min-width: 768px) {
  #venue-block #venue-info #venue-image {
    padding-left: 100px;
  }
}
@media screen {
  #venue-block #venue-info #venue-image {
    padding: 60px;
  }
}
#venue-block #venue-info #venue-content {
  padding-left: 200px;
  margin-top: -220px;
}
@media screen {
  #venue-block #venue-info #venue-content {
    width: 100%;
  }
}
@media screen {
  #venue-block #venue-info #venue-content {
    padding-left: 0px;
    margin-top: 0px;
    width: 100%;
  }
}
#venue-block #venue-info button {
  background-color: white;
  border-color: white;
  box-shadow: 2px 1px 0px;
}
@media (min-width: 768px) {
  #venue-block #venue-info {
    flex-direction: column-reverse;
  }
}
@media screen {
  #venue-block #venue-info {
    flex-direction: column-reverse;
  }
}

#contact-block {
  margin: 0 auto;
}
#contact-block h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: #0074bd;
  padding-left: 50px;
  padding-top: 10px;
}
#contact-block #contact-content h3 {
  padding-left: 500px;
}

#block-majorattractions h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: #0074bd;
  padding-left: 50px;
  padding-top: 10px;
}
#block-majorattractions ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
#block-majorattractions li {
  list-style: none;
  width: 20%;
}
#block-majorattractions li img {
  width: 290px;
  height: 220px;
}
#block-majorattractions li p {
  color: #0074bd;
}

#sponsors h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 30px;
  color: #0074bd;
  padding-left: 50px;
  padding-top: 20px;
}
#sponsors #sponsors-info {
  display: flex;
  justify-content: space-around;
  padding: 0px 50px;
  color: grey;
}
#sponsors #sponsors-info p {
  text-transform: uppercase;
  color: black;
  padding-bottom: 20px;
  line-height: 20px;
  color: grey;
}
#sponsors #sponsors-info p:first-child {
  font-size: 18px;
  font-weight: 800;
  border-bottom: 2px solid black;
  padding: 20px 0px;
  color: black;
}
#sponsors #sponsors-content1,
#sponsors #sponsors-content2,
#sponsors #sponsors-content3 {
  width: 30%;
}
@media screen {
  #sponsors {
    flex-direction: column;
    justify-content: center;
  }
}

#block-internship2017-sessionbanner h1 {
  letter-spacing: 6px;
  margin-left: 50px;
  position: absolute;
  top: 330px;
  color: white;
  text-decoration: none;
  font-size: 20px;
}
#block-internship2017-sessionbanner a {
  position: absolute;
  display: inline-block;
  height: 5px;
  line-height: 6px;
  width: 140px;
  background-color: #ec0342;
  color: white;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  left: 50px;
  top: 400px;
}

#block-internship2017-content p {
  color: gray;
  width: 60%;
  text-align: left;
  padding-left: 300px;
  padding-right: 100px;
}
#block-internship2017-content h1 {
  width: initial;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #0074bd;
  padding-left: 50px;
  padding-top: 20px;
}
@media screen {
  #block-internship2017-content h1 {
    font-size: 20px;
    padding-bottom: 30px;
    padding-top: 10px;
  }
}
@media (min-width: 768px) {
  #block-internship2017-content h1 {
    font-size: 18px;
    padding-bottom: 20px;
    padding-top: 10px;
  }
}
#block-internship2017-content #tags {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 80%;
  margin: 20px auto;
}
#block-internship2017-content #tags a {
  display: inline-block;
  height: 5px;
  line-height: 6px;
  width: 20%;
  background-color: #ec0342;
  color: white;
  border-radius: 5px;
  padding: 17px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  margin-top: 30px;
}

#committee h2 {
  width: initial;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #0074bd;
  padding-left: 50px;
  padding-top: 20px;
}
#committee p {
  color: gray;
  width: 60%;
  text-align: center;
  padding-left: 300px;
  padding-right: 100px;
}
#committee #committee-info p {
  width: 50%;
  margin: 0 auto;
  padding-left: 0px;
  padding-right: 10px;
}
#committee #committee-info ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}
#committee #committee-info ul li {
  padding: 50px;
  color: grey;
  width: 250px;
}
#committee #committee-info ul h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: #0074bd;
  padding-top: 10px;
  padding-bottom: 15px;
}
#committee #committee-info ul p {
  text-align: justify;
  width: 100%;
}
#committee img {
  height: 250px;
  width: 100%;
}

.align-center {
  width: 100%;
  height: 500px;
}

.image-style-banner {
  width: 1440px;
  height: 500px;
}
@media screen {
  .image-style-banner {
    margin-top: 0px;
    width: 360px;
    height: auto;
  }
}

#block-joinusmakethisanawesomeexperience {
  text-align: center;
}

#camp-block1 h2 {
  width: initial;
  text-transform: uppercase;
  text-align: center;
  font-size: 25px;
  color: #0074bd;
  padding-left: 50px;
  padding-top: 20px;
}
@media screen {
  #camp-block1 h2 {
    font-size: 23px;
    padding-bottom: 30px;
    padding-top: 35px;
  }
}
#camp-block1 p {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  line-height: 20px;
  color: grey;
}

#camp-block2 {
  display: flex;
  justify-content: center;
  padding: 80px;
}
#camp-block2 h2 {
  text-transform: uppercase;
  padding-top: 30px;
  font-size: 20px;
  color: #0074bd;
}
#camp-block2 p {
  padding-top: 20px;
  padding-right: 15px;
  color: grey;
}
#camp-block2 img {
  height: 250px;
  width: 380px;
  padding-right: 35px;
}
@media screen {
  #camp-block2 {
    display: flex;
    flex-direction: column;
    padding: 0px;
    padding-top: 10px;
  }
}
@media (min-width: 768px) {
  #camp-block2 {
    width: 50%;
    margin: 0 auto;
  }
}

#block-codeofconduct {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}
#block-codeofconduct a {
  display: inline-block;
  height: 5px;
  line-height: 6px;
  width: 80%;
  background-color: #ec0342;
  color: white;
  border-radius: 5px;
  padding: 17px;
  text-align: center;
  font-size: 16px;
  text-decoration: none;
  margin-top: 30px;
}
@media screen {
  #block-codeofconduct a {
    width: 110px;
    padding: 18px;
    font-size: 14px;
  }
}

#installation {
  background-color: #f7f9fb;
  margin-top: 45px;
}
#installation #content-wrapper {
  display: flex;
  flex-direction: row;
  width: 65%;
  margin: 0 auto;
  padding: 20px;
}
#installation #content-wrapper #content-block1,
#installation #content-wrapper #content-block2 {
  color: grey;
  padding: 20px;
}
#installation #content-wrapper #content-block1 h4,
#installation #content-wrapper #content-block2 h4 {
  text-transform: uppercase;
  text-align: center;
  font-size: 16px;
  color: #0074bd;
  height: 30px;
  padding-bottom: 20px;
}
#installation #content-wrapper #content-block1 p,
#installation #content-wrapper #content-block2 p {
  background-color: white;
  padding: 30px;
  box-shadow: 2px 2px 2px;
}
@media screen {
  #installation #content-wrapper #content-block1,
  #installation #content-wrapper #content-block2 {
    flex-direction: column;
  }
}
@media (min-width: 768px) {
  #installation #content-wrapper #content-block1,
  #installation #content-wrapper #content-block2 {
    flex-direction: column;
  }
}

#block-madewithlovebyqed42 {
  margin: 0px;
  background: #fbfcff;
  text-align: right;
}

#block-madewithlovebyqed42 p {
  margin-right: 135px;
}

#footer_info {
  background: black;
  display: flex;
  justify-content: space-between;
  padding: 0px 150px 0px 10px;
}

#footer-logo img {
  padding-left: 180px;
}
#footer-logo p {
  color: white;
  display: initial;
}

#footer-content p {
  color: white;
}
#footer-content img {
  margin-right: -20px;
  margin-left: 30px;
}
