#block-joinusmakethisanawesomeexperience {
    text-align: center;
}

#camp-block1 {
    h2 {
        width: initial;
        text-transform: uppercase;
        text-align: center;
        font-size: 25px;
        color: #0074bd;
        padding-left: 50px;
        padding-top: 20px;
        @include breakpoint($mobile) {
            font-size: 23px;
            padding-bottom: 30px;
            padding-top: 35px;
        }
        @include breakpoint($iphone5) {
            font-size: 20px;
            padding-bottom: 20px;
            padding-top: 30px;
        }
    }
    p {
        width: 40%;
        margin: 0 auto;
        text-align: center;
        line-height: 20px;
        color: grey;
    }
}

#camp-block2 {
    display: flex;
    justify-content: center;
    padding: 80px;
    h2 {
        text-transform: uppercase;
        padding-top: 30px;
        font-size: 20px;
        color: #0074bd;
    }
    p {
        padding-top: 20px;
        padding-right: 15px;
        color: grey;
    }
    img {
        height: 250px;
        width: 380px;
        padding-right: 35px;
    }
    @include breakpoint($tablet) {
        width: 50%;
        margin: 0 auto;
    }
    @include breakpoint($mobile-2) {
        width: 100%;
        margin: 0 auto;
    }
    @include breakpoint($mobile) {
        display:flex;
        flex-direction:column;
        padding: 0px;
        padding-top: 10px;
    }
    @include breakpoint($iphone5) {
        padding: 0px;
        padding-top: 10px;
    }
}

#block-codeofconduct {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px auto;
    a {
        display: inline-block;
        height: 5px;
        line-height: 6px;
        width: 80%;
        background-color: #ec0342;
        color: white;
        border-radius: 5px;
        padding: 17px;
        text-align: center;
        font-size: 16px;
        text-decoration: none;
        margin-top: 30px;
        @include breakpoint($mobile) {
            width: 110px;
            padding: 18px;
            font-size: 14px;
        }
        @include breakpoint($iphone5) {
            width: 100px;
            font-size: 12px;
            padding: 16px;
        }
    }
}

#installation {
    background-color: #f7f9fb;
    margin-top: 45px;
    #content-wrapper {
        display: flex;
        flex-direction: row;
        width: 65%;
        margin: 0 auto;
        padding: 20px;
        #content-block1,
        #content-block2 {
            color: grey;
            padding: 20px;
            h4 {
                text-transform: uppercase;
                text-align: center;
                font-size: 16px;
                color: #0074bd;
                height: 30px;
                padding-bottom: 20px;
            }
            p {
                background-color: white;
                padding: 30px;
                box-shadow: 2px 2px 2px;
            }
            @include breakpoint($tablet) {
                flex-direction: column;
            }
            @include breakpoint($mobile-2) {
                flex-direction: column;
            }
        }
    }
}
